# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# MacOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Misc
*.swp
